
body{
    background-image: url('/');
  
    background-size: 100% 100%;
    background-repeat: no-repeat;
   
}

.main-c{
    height: 70vh;
}

.head{
    border-bottom: 2px solid  rgb(171, 143, 86);
    color: rgb(145, 43, 43);
    font-size: 2.5rem;
}

.get-pass-form{
    margin-top: 2%;

}
.get-pass-form form{
    border-bottom: 2px solid rgb(176, 58, 58);
    display: flex;
    padding: 1%;
    
}
.get-pass-form form .en-email{
    width: 25%;
}